* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif !important;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}


#dropdown-item-button {
  width: 150px !important;
}

Navbar {
	background-color: #bbbbbb !important;
}

#trendFilter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: .25rem;
  box-shadow: 0 0 5px 2px rgba(187, 176, 176, 0.205);
  background-color: gainsboro;
  transition: 250ms;
  transform-style: preserve-3d;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0)) 
      translateY(var(--translate-y,0))
}

.cardSummary {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: .25rem;
  box-shadow: 0 0 5px 2px rgba(187, 176, 176, 0.205);
  background-color: gainsboro;
  transition: 250ms;
  transform-style: preserve-3d;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0)) 
      translateY(var(--translate-y,0))
}

.cardSummary:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .7);
}

.cardSummary.flip{
  --rotate-y: 180deg;
}

.cardSummary .front{
  left: 0;
}

.cardSummary .front,
.cardSummary .back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;

}

.cardSummary .back {
  transform: rotateY(180deg);
}
